# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Build results

[Dd]ebug/
[Rr]elease/
x64/
win32/
build/
[Bb]in/
[Oo]bj/